@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .links-page {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #1f1e1e;
    background: url('/background.png') no-repeat center center fixed;
    background-size: cover;
  }

  .links-page * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .links-page a {
    text-decoration: none;
    color: #1f1e1e;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }

  .content {
    width: 380px;

    flex-shrink: 0;
    border-radius: 24px;
    border: 1.76px solid rgba(255, 255, 255, 0.5);
    background: linear-gradient(
      113deg,
      rgba(255, 255, 255, 0.51) 3.51%,
      rgba(255, 255, 255, 0) 111.71%
    );
    box-shadow: 14.647px 17.576px 29.294px 0px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(10.25px);
  }
}
